# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.N17042181-s24-Codelab1-Week3.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
